<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flashklip</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <div class="column row centered">
      <header class="header">
        <div class="row">
          <div class="top-bar">
            <div class="top-bar-left">
              <a href="<%= page_path(@conn, :index) %>">
                <img src="/images/flashklip_logo_135x35.png">
              </a>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false" data-closing-time="0">
                <%= if @current_user do %>
                  <li><span id="nav-username"><%= @current_user.username %></span></li>
                <% else %>
                  <li>Visitor</li>
                  <li><%= link "Sign in", to: session_path(@conn, :new) %></li>
                <% end %>
                <li>
                  <a href="#">Menu</a>
                  <ul class="menu sub-menu">
                    <%= if @current_user do %>
                      <%= if Enum.at(@conn.path_info, 0) == "my" do %>
                        <li><%= link "All Videos", to: page_path(@conn, :videos) %></li>
                      <% else %>
                        <li><%= link "My Videos", to: video_path(@conn, :index) %></li>
                      <% end %>
                      <li>
                        <%= link "Sign out", to: session_path(@conn, :delete), method: "delete" %>
                      </li>
                    <% else %>
                      <li><%= link "Home", to: page_path(@conn, :index) %></li>
                      <li><%= link "All Videos", to: page_path(@conn, :videos) %></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <%= render "alerts.html", conn: @conn %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <%= render "script.html", conn: @conn %>

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-87343521-1', 'auto');
     ga('send', 'pageview');

    </script>
  </body>
</html>
