<h2>Edit video</h2>

<%= render "form.html", changeset: @changeset,
                        action: video_path(@conn, :update, @video),
                        with_url: false %>

<%= link "Back", to: video_path(@conn, :index), class: "button" %>
