<div class="row">
  <h2>New video</h2>
</div>

<div class="row">
  <%= render "form.html", changeset: @changeset,
                          action: video_path(@conn, :create),
                          with_url: true %>
</div>

<div class="row">
  <%= link "Back", to: video_path(@conn, :index) %>
</div>
