<h2>Edit video</h2>

<%= render "form.html", changeset: @changeset,
                        action: metavideo_path(@conn, :update, @metavideo) %>

<%= link "Back", to: metavideo_path(@conn, :index) %>
