// Put custom styles here
body {
  font-family: 'Lato', sans-serif;
}

.page-footer {
  margin-top: 60px;
  min-height: 100px;

  .copyright-info {
    padding-top: 40px;
    color: #0074D9;
    font-size: 12px;
  }
}

h1, h2, h3, h4, h5, h6, p {
  color: dimgray;
}

.index-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orbit-text {
  position: absolute;
  top: 30px;
  left: 45%;
  padding-right: 35px;
  h1 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  p {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: #ffffff;
  }
}

.menu .vertical {
  text-align: center;
  padding: 12px;
}

.cta-button {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

.alert-message {
  color: #FF4136;
}

.reset-filter-button {
  margin-left: 8px;
}

.dashboard-callout {
  margin-bottom: 40px;
}

.featured-callout {
  margin-bottom: 40px;
}

#latest-tabs {
  margin-top: 12px;
}

#my-tabs {
  margin-top: 12px;
}

.small-text {
  padding-top: 4px;
  font-size: 13px;
  color: grey;
}

.top-bar {
  padding-left: 0px;
  padding-right: 0px;

  li {
    color: dimgray;
  }
}

.column {
  max-width: 680px;
}

.tabs-panel {
  .columns {
    padding: 4px;
  }
  .tag-button {
    margin-bottom: 4px;
  }
}

.tag-button {
  margin-bottom: 0px;
}

#new-video-button {
  margin-bottom: 0;
}

.accordion-title {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

/* .klips-ticker { */
/*   max-height: 340px; */
/*   overflow-y: scroll; */
/* } */

.video-menu {
  z-index: 9999;
}

.thumbnail {
  border: 0;
}

.youtube-thumbnail {
  img {
    width: 177px;
    height: 100px;
  }
}

.klip-thumbnail-column {
  padding-left: 0px;
}

.klips-thumbnail {
  img {
    width: 100%;
    height: auto;
  }
}

.klip-ticker-content {
  font-size: 18px;
  color: dimgray;
  font-weight: 700;
}

.video-added {
  font-size: 12px;
  color: grey;
  margin-bottom: 10px;
}

.video-klips-count {
  font-size: 14px;
}

.media-object-section {
  hr {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.flex-video {
  margin-bottom: 0;
}

#my-klip-container {
  min-height: 60px;
  margin-bottom: 12px;
}

#all-klips-container {
  max-height: 230px;
  overflow-y: scroll;
}

.tabs-title {
  a {
    padding-top: 12px;
    padding-bottom: 8px;
  }
}

.video-callout {
  padding: 8px;
  margin-bottom: 2px;
}

.klip-callout {
  padding: 8px;
  margin-bottom: 8px;

  p {
    color: black;
    font-size: 18px;
    color: dimgray;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .white-font {
    color: white !important;
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }

  .timestamp {
    font-size: 12px;
  }

  .username {
    font-size: 12px;
    color: darkgrey;
    padding-top: 4px;
  }

  #timestamp-display {
  }

}

.navi-callout {
  margin-bottom: 10px;
}

/* Responsive: Portrait tablets and up */
/* @media screen and (min-width: 768px) { */
@media screen and (max-width: 480px) {
  .row {
    padding-left: 10px;
    padding-right: 10px;
  }
  .menu {
    li {
      a {
        padding-left: 10px;
        padding-right: 10px;
      }
      .nav-home {
        padding-left: 0px;
      }
    }
  }

  p {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .orbit-container {
    max-height: 220px;
  }

  .orbit-text {
    position: absolute;
    top: 20px;
    left: 45%;
    padding-right: 30px;
    h1 {
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    p {
      font-family: 'Oswald', sans-serif;
      font-size: 11px;
      font-weight: 100;
      color: #ffffff;
      margin-bottom: 2px;
    }
  }

  #latest-tabs {
    margin-top: 23px;
  }

  #my-tabs {
    margin-top: 23px;
  }

  #klipTabs {
    margin-bottom: 8px;
  }

  .callout {
    padding: 4px;
  }

  /* .video-callout { */
  /*   margin-left: 0px; */
  /*   margin-right: 0px; */
  /* } */

  .klip-callout {
    padding: 2px;
    .column {
      padding: 0px;
    }
  }

  .klip-ticker {
    max-height: 160px;
  }

  .youtube-thumbnail {
    img {
      width: 123px;
      height: 70px;
    }
  }

  .username {
    margin-right: 4px;
  }

  .klips-thumbnail {
    margin-bottom: 0px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .tabs-panel {
    padding: 4px;
    padding-left: 0px;
    padding-right: 0px;
    .columns {
      padding: 4px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }


  .tabs-title {
    a {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .video-added {
    margin-bottom: 0px;
  }

}
