// Put custom styles here

// ***** OVERALL PAGE STYLES *****
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: dimgray;
}

.second-title {
  margin-top: 16px;
}

hr {
  margin-top: 0px;
}

.column {
  max-width: 680px;
}

.accordion-title {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

.top-bar {
  padding-left: 0px;
  padding-right: 0px;

  li {
    color: dimgray;
  }
  .sub-menu li {
    /* border: 1px solid gainsboro; */
    background-color: #0074D9;
    border-top: 1px solid gainsboro;
    a {
      color: white;
    }
    .link {
      padding-left: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.alert-message {
  color: #FF4136;
}

#tags-input {
  box-shadow: none;
  border: 1px solid gainsboro;
  border-radius: 0px;
}

.alerts {
  .callout {
    background-color: white;
  }
  .alert-info {
    border-color: #2ECC40;
    color: #2ECC40;
    .close-button {
      color: #2ECC40;
    }
  }
  .alert-error {
    border-color: #FF4136;
    color: #FF4136;
    .close-button {
      color: #FF4136;
    }
  }
}

.custom-field-label {
  color: dimgray;
  font-size: 0.8em;
}

.page-footer {
  margin-top: 60px;
  min-height: 100px;

  .copyright-info {
    padding-top: 40px;
    color: #0074D9;
    font-size: 12px;
  }
}

.pagination {
  text-align: center;
  margin-top: 30px;
  color: dimgray;
}

.current {
  background-color: #39CCCC !important;
  a {
    padding: 0px;
    background-color: #39CCCC;
    color: white;
    &:hover {
      background-color: #39CCCC;
    }
  }
}

// ***** HOMEPAGE STYLES *****
.orbit-container {
  height: auto !important;
}

.orbit-slide {
  max-height: none !important;
}

.orbit-text {
  position: absolute;
  top: 30px;
  left: 45%;
  padding-right: 35px;
  h1 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  p {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: #ffffff;
  }
}

.cta-button {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

.index-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reset-filter-button {
  margin-left: 8px;
}

.dashboard-callout {
  margin-bottom: 40px;
  hr {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .search-title {
    margin-top: 10px;
  }
}

.featured-callout {
  margin-bottom: 40px;
  hr {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .search-title {
    margin-top: 10px;
  }
}

.info-panel-callout {
  margin-left: 20px;
  margin-right: 20px;
}

#latest-tabs {
  margin-top: 12px;
}

#my-tabs {
  margin-top: 12px;
}

.pop-tag-button {
  margin-bottom: 6px;
}

#pop-tags-title {
  margin-top: 0px;
}

.small-text {
  padding-top: 4px;
  font-size: 13px;
  color: grey;
}

.tabs-panel {
  padding-left: 10px;
  padding-right: 10px;
  .columns {
    padding: 4px;
  }
}

.tabs-panel-watchview {
  padding-left: 0px;
  padding-right: 0px;
  .columns {
    padding: 4px;
  }
  .tag-button {
    margin-bottom: 4px;
  }
}

.klips-search-results {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.thumbnail {
  border: 0;
}

.youtube-thumbnail {
  img {
    width: 177px;
    height: 100px;
  }
}

.video-added {
  font-size: 12px;
  color: grey;
  margin-bottom: 10px;
}

.klip-thumbnail-column {
  padding-left: 0px;
}

.klips-thumbnail {
  img {
    width: 100%;
    height: auto;
  }
}

// ***** LIBRARY PAGE *****
.videos-row {
  .columns {
    padding: 4px;
  }
}

.klips-row {
  .columns {
    padding: 4px;
  }
}

// ***** SIGN IN PAGE *****

.password-info {
  margin-top: 40px;
}

// ***** EDIT VIDEO PAGE *****

.tag-button {
  margin-bottom: 0px;
}

#new-video-button {
  margin-bottom: 0;
}

.klip-ticker-content {
  font-size: 18px;
  color: dimgray;
  font-weight: 700;
}

.video-klips-count {
  font-size: 14px;
}

.media-object-section {
  hr {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

// ***** LIBRARY VIEW PAGE *****
.library-nav {
  margin-bottom: 20px;
}

.library-nav-column {
  padding: 0px;
  .library-nav-button {
    display: inline-block;
    margin: 0px;
    width: 100%;
    border: none !important;
    &:hover {
      border-bottom: 2px solid #39CCCC !important;
    }
  }
  .active {
    border-bottom: 2px solid #39CCCC !important;
  }
}


// ***** WATCH VIDEO PAGE *****
.flex-video {
  margin-bottom: 0;
}

#add-klip {
  .callout {
    border: none;
  }
}

#edit-video {
  padding-top: 8px !important;
  hr {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    margin-right: 4px;
  }
  .callout {
    border: none;
    padding-top: 8px;
    padding-left: 34px;
    padding-right: 20px;
    h6 {
      padding-left: 4px;
      margin-bottom: 2px;
    }
  }
  #overview-switch {
    margin-top: 3px;
  }
}

#live-klip-container {
  min-height: 60px;
  margin-bottom: 12px;
}

#all-klips-container {
  max-height: 230px;
  overflow-y: scroll;
}

.tabs-title {
  a {
    padding-top: 12px;
    padding-bottom: 8px;
  }
}

.video-callout {
  padding: 8px;
  margin-bottom: 2px;
}

.klip-callout {
  padding: 8px;
  margin-bottom: 8px;
  border-color: gray;

  hr {
    margin-bottom: 4px !important;
  }

  p {
    color: black;
    font-size: 18px;
    color: dimgray;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .white-font {
    color: white !important;
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }

  .timestamp {
    font-size: 12px;
  }

  .username {
    font-size: 12px;
    color: darkgrey;
    padding-top: 4px;
  }

  #timestamp-display {
  }

}

.navi-callout {
  margin-bottom: 10px;
}

.hidden-klip {
  border: none;
  hr {
    border-color: gainsboro;
  }
  a {
    p {
      color: silver;
      font-weight: 100;
    }
  }
  .username {
    color: silver;
  }
  .timestamp {
    color: silver;
  }
  button {
    color: slategray !important;
    border-color: slategray !important;
  }
}

.new-video-info {
  margin-top: 20px;
  background-color: #85144b;
  border: none;
  h4 {
    color: white;
  }
  p {
    color: white;
  }
}

.edit-tags-info {
  margin-top: 20px;
  background-color: #3d9970;
  border: none;
  h4 {
    color: white;
  }
  p {
    color: white;
  }
}

/* Responsive: Portrait tablets and up */
/* @media screen and (min-width: 768px) { */
@media screen and (max-width: 480px) {
  .row {
    padding-left: 10px;
    padding-right: 10px;
  }

  .alert-info {
    .close-button {
      top: 0;
      right: 0;
      padding-right: 4px;
    }
  }

  p {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  /* .orbit-container { */
  /*   max-height: 220px; */
  /* } */

  .orbit-text {
    position: absolute;
    top: 20px;
    left: 45%;
    padding-right: 30px;
    h1 {
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    p {
      font-family: 'Oswald', sans-serif;
      font-size: 11px;
      font-weight: 100;
      color: #ffffff;
      margin-bottom: 2px;
    }
  }

  #latest-tabs {
    margin-top: 23px;
  }

  #my-tabs {
    margin-top: 23px;
  }

  #klipTabs {
    margin-bottom: 8px;
  }

  .callout {
    padding: 4px;
  }

  .navi-button {
    margin-top: -4px;
  }

  .klip-callout {
    padding: 2px;
    .column {
      padding: 0px;
    }
  }

  .klip-ticker {
    max-height: 160px;
  }

  .youtube-thumbnail {
    img {
      width: 123px;
      height: 70px;
    }
  }

  .username {
    margin-right: 4px;
  }

  .klips-thumbnail {
    margin-bottom: 0px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .tabs-panel {
    padding: 4px;
    padding-left: 0px;
    padding-right: 0px;
    .columns {
      padding: 4px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  #klipTabs {
    margin-bottom: 0px;
  }


  .tabs-title {
    a {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .video-added {
    margin-bottom: 0px;
  }

  #edit-video {
    hr {
      margin-top: 4px !important;
      margin-bottom: 4px !important;
    }
    .callout {
      border: none;
      margin-top: 0px;
      padding-top: 0px;
      padding-left: 8px;
      padding-right: 8px;
      h6 {
        padding-left: 0px;
        margin-bottom: 2px;
      }
    }
    #overview-switch {
      margin-top: 3px;
    }
  }

}
