<a href="#" data-seek="<%= @klip.at %>">
  <div class="callout klip-callout">
    <p><%= @klip.content %></p>
    <hr>
    <span class="timestamp">
      [<%= Flashklip.Helpers.convert_to_min_sec(@klip.at) %>]
    </span>
    <span class="username float-right">
      by <%= @klip.user.username %>
    </span>
  </div>
</a>
